#Clash systemd profile should be moved to `/usr/lib/systemd/system`
[Unit]
Description=Clash Service
After=network.target network-online.target nss-lookup.target iptables.service ip6tables.service nftables.service
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/your/clash/bin/path
ExecStart=/you/clash/bin/path -d /your/clash/config/path
Restart=on-failure

[Install]
WantedBy=multi-user.target
